@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bangers&family=Fredoka+One&family=Galada&family=Poiret+One&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300&display=swap');
/*
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Bangers', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Galada', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Grandstander', cursive;
*/
*{
		margin: 0;
		padding: 0;
}

body{
	overflow: hidden;
}

#header{
		height: 5%;
		background-color: #f56e6e/*#ad3d4e #3dad84*/;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
}
#header h1{
		color: white;	
		font-family: 'Fredoka One', cursive;
		flex-shrink: 0;
}

#page{
		display: flex;		
		height: 92.5%;

}
#ristoranti_list{
		background-color: #e8e8e8;	
		padding: 1%;
		overflow: auto;
}
#piatti_list{
		margin-top: 2%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow:auto;
}
.piatti_list_title{
		font-family: 'Fredoka One', cursive;
		color: #545454;
		margin-top: 3%;
}
/*
.piatto{
		width: 80%;
		text-align: center;
		border-radius: 20px;
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 30px 0 30px 0;
		margin: 1%;
		font-family: 'Poiret One', cursive;
}
.piatto:hover{
		background-color: #e8e8e8;
}
*/

.ristorante{
		border-radius: 20px;
		text-align: center;
		border-radius: 20px;
		box-shadow: 2px 2px 7px #bfbfbf;/*black;*/
		border: solid 1px #e8e8e8;
		background-color: white;
		padding: 10px;
		font-family: 'Poiret One', cursive;
		margin: 3%;
		cursor: pointer;
}
.ristorante:hover{
		background-color: #e8e8e8;
}
.add_ristorante{
		background-color:#0ECC35;
		border-color: #00B024;
}
.add_ristorante:hover{
		background-color:#00B024;
}

#name_logo{
		display: flex;
		height: 100%;
		align-items: center;
}
#logo{
		margin: 5px;
		height: 100%;
}

#login_form{
		display:none;		
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		height:100%;
		width: 30%;
}
#login_form input[type=password], input[type=text]{
		border: none; /* solid 0.5px #f56e6e;*/
		color: black;
		width:50%;
		padding: 4px 11px;
}
#login_form label {		/* Va a sostituire il radio */
		display: inline-block;
		background-color: white;
		cursor: pointer;
		font-size: 16px;
		font-family: 'Fredoka One', cursive;
		text-align: center;
		flex-basis:50%;
}
#login_form input[type="radio"] {
		opacity: 0;	
		width:0;
		display:none;
}
#login_form input[type="radio"]:checked+label {
		transition: background-color 1.5s ease-out;
}
#login_form input[type="radio"]:checked+label#cliente_btn {
		background-color: #62c67b;
		color: white;
}
#login_form input[type="radio"]:checked+label#ristoratore_btn {
		background-color: #5182d6;
		color: white;
}
#login_form input[type=submit]{
		display:none;
}

.piatto{
		font-family: 'Poiret One', cursive;
		display: flex;
		width: 80%;
		flex-direction: column;
		align-items: stretch;
}
.piatto_title_div{
		text-align: center;
		border-radius: 20px;
		/*border-radius: 20px 20px 0 0;*/
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 30px;
		font-family: 'Poiret One', cursive;
		cursor: pointer;
		margin-top: 2%;
}
.piatto_title_div:hover{
		background-color: #e8e8e8;
}
.piatto_info{
		display: none;
		justify-content: space-around;
		background-color: #cccccc;
		width: 90%;
		align-self: center;
		padding: 2%;
}
.piatto_footer{
		display: none;
		justify-content: flex-end;
		border-radius: 0 0 20px 20px;
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 5px;
		margin-bottom: 2%;
}
.piatto_ingredienti{
		background-color: white;
		width: 20%;
		padding: 2% 5% 5%;
}
.ingredienti_title{
		margin: 0 0 2% -40%;
    padding: 2% 10%;
		background-color: red;
		color: white;
		align-self: flex-start;
}
.piatto_lista_ingredienti{}
.piatto_price{
		font-size: 3em;
}
.piatto_type{
		font-size: 1.5em;
		background-color: #F9EE5E;
		align-self: flex-end;
		padding: 0 8px 0 8px;
		border-radius: 5px 5px 20px 5px;
}
.piatto_img{
	width: 20%;
}

#ristorante_info{
		margin: 2% 1%;
		font-family: 'Poiret One', cursive;
}
.rist_info_h1{
		margin-top: 2%;
}
.rist_info_value{}

#header_icons{
	display: flex;
	height: 100%;
	width: 20%;
	justify-content: flex-end;
}
.user_img{
	cursor: pointer;
	height: 90%;
}
.cart_img{
	cursor: pointer;
	height: 100%;
}
.search_img{
	cursor: pointer;
	height: 60%;
	padding: 2%;
}
.orders_img{
	cursor: pointer;
	height: 70%;
	margin-top:2%;
}

.float_menu {
	position: absolute;
	z-index: 3;
	float: right;
	width: 30%;
	right: 0;
	background-color: #e8e8e8;
	border-radius: 0 0 0 5%;
	padding: 15px;
	border-top: solid 20px #E45454;
	overflow: auto;
	max-height: 80%;
}

.button{
	cursor: pointer;
}
.button:hover{
	filter: brightness(85%);
}

.addPiattoButton{
	background-color: #62c67b;
}

.float_window{
	position: absolute;
	top: 20%;
	right: 20%;
	left:20%;
	bottom: 20%;
	z-index: 2;
	background-color: #283D50;
	padding: 5%;
	overflow-y: auto;
	overflow-x: hidden;
}

.home_title{
	margin: 5%;
	font-family: 'Poiret One', cursive;
	color: #f56e6e;
}

.eta{
	color: #FF324A;
	font-size: 1.5em;
}
.eta::after{
	content: ' minuti'
}


.header_title{
	margin: 5px;
	padding:5px;
	font-family: 'Poiret One', cursive;
}
.header_menu{
	z-index:3;
	position: absolute;
	background-color: white;	
	padding: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 1.3em;
	border: solid 2px #e8e8e8;
}

#piatti_types_list{}
.piatti_types_list_item{}

.close_btn{
	float: right;
	position: fixed;
	right: 19%;
	top: 18%;
	z-index:1;
}

#sign_div{
	margin-left: 10px;
}
.sign_button{
	font-family: 'Fredoka One', cursive;
	border-radius: 3px;
	padding: 0 5px 0 5px;
	text-align: center;
}
.sign_accedi{
	background-color: white;
}
.sign_registrati{
	background-color: #2599FF;; /*#0997FB;*/
	color: white;
}

.search_bar_div{
	display: flex;
	justify-content: flex-end;
	background-color:#E45454;
}

.cliente_info_h1{
	font-family: 'Fredoka One', cursive;
	color: #E45454;
	font-size: 1.3em;
}
.cliente_info_h2{
	font-family: 'Fredoka One', cursive;
	padding-left:4%;
	color: #2599FF;
	font-size: 1em;
}
.cliente_info_h3{
	font-family: 'Poiret One', cursive;
	padding-left:4%;
}
.cliente_info_value{
	font-family: 'Poiret One', cursive;
	padding: 0 4% 4% 4%;
}
.user_info_button{
	text-align:center;
	font-family: 'Fredoka One', cursive;
	padding: 2%;
}
.change_user_info{
	margin-top: 10%;
	background-color: #2599FF;
	color: white;
}
.logout{
	background-color: #E45454;
	color: white;
}
.delete_user{
	background-color: black;
	color: white;
}
.save_btn {
	margin-top: 10%;
	background-color: #2599FF;
	color: white;
	width: 100%;
	font-size: 1em;
	border: 0;
}

.cart_btn{
	text-align:center;
	font-family: 'Fredoka One', cursive;
	padding: 2%;
}
.buy_btn{
	background-color: #0BC66B;
	color: white;
}
.delete_elem_cart{
	background-color: #E45454;
	color: white;
	margin-bottom: 5%;
}
.total_price {
	font-family: 'Fredoka One', cursive;
	font-size: 2.4em;
	color: #f4b846;
	text-align: center;
}

.order_item{
	background-color: #e8e8e8;
	padding:5%;
	border: solid 2px;
	border-radius: 20px;
	margin-bottom: 2%;
}
.order_item_name{
	font-family: 'Fredoka One', cursive;
	font-size:2em;
}
.order_item_rist{
	font-family: 'Poiret One', cursive;
}
.order_item_price{
	font-family: 'Fredoka One', cursive;
	color:#2599FF;
	float: right;
	font-size: 2em;
	bottom: 60px;
	position: relative;
}
.order_item_price::after{
	content: '\20AC';
}
.order_item_date{
	font-family: 'Grandstander', cursive;
}


.buy_option{
	margin: 6px;
	padding: 7px;
	background-color: white;
}
.buy_option_title{
	text-align:center;
	font-family: 'Fredoka One', cursive;
}
.buy_option_message{
	padding:10px;
	margin:5px;
	font-family: 'Poiret One', cursive;
	overflow-x: hidden;
	overflow-y:	auto;
}
.option_btn{
	text-align:center;
	font-family: 'Fredoka One', cursive;
	padding: 2%;
}
.prenota_btn{
	background-color: #E45454;
	color: white;
}
.takeaway_btn{
	background-color: #E45454;
	color: white;
}
.sum_eta{
	background-color: #e8e8e8;
	margin-top: 3px;
}
.sum_eta_rist{}
.sum_eta_eta{
	float: inline-end;
	position: relative;
	bottom: 20px;
}
.sum_eta_eta::after{
	content: ' minuti'
}




