@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bangers&family=Fredoka+One&family=Galada&family=Poiret+One&family=Sacramento&display=swap');
/*
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Bangers', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Galada', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Sacramento', cursive;
*/
*{
		margin: 0;
		padding: 0;
}

#header{
		height: 5%;
		background-color: #f56e6e/*#ad3d4e #3dad84*/;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
}
#header h1{
		color: white;	
		font-family: 'Fredoka One', cursive;
}

#page{
		display: flex;		
		height: 92.5%;

}
#ristoranti_list{
		background-color: #e8e8e8;	
		padding: 1%;
}
#piatti_list{
		margin-top: 2%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
}
.piatti_list_title{
		font-family: 'Fredoka One', cursive;
		color: #545454;
		margin-top: 3%;
}
/*
.piatto{
		width: 80%;
		text-align: center;
		border-radius: 20px;
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 30px 0 30px 0;
		margin: 1%;
		font-family: 'Poiret One', cursive;
}
.piatto:hover{
		background-color: #e8e8e8;
}
*/

.ristorante{
		border-radius: 20px;
		text-align: center;
		border-radius: 20px;
		box-shadow: 2px 2px 7px #bfbfbf;/*black;*/
		border: solid 1px #e8e8e8;
		background-color: white;
		padding: 10px;
		font-family: 'Poiret One', cursive;
		margin: 3%;
		cursor: pointer;
}
.ristorante:hover{
		background-color: #e8e8e8;
}
.add_ristorante{
		background-color:#0ECC35;
		border-color: #00B024;
}
.add_ristorante:hover{
		background-color:#00B024;
}

#name_logo{
		display: flex;
		height: 100%;
		align-items: center;
}
#logo{
		margin: 5px;
		height: 100%;
}

#login_form{
		display:none;		
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		width: 30%;
}
#login_form input[type=text], input[type=password]{
		border: solid 1px  black;
		border-radius: 4px;
		color: black;
		text-align: center;
		margin: 0 1% 1% 1%;
		flex-basis: 39%;
}
#login_form input[type=submit]{
		display:none;
}

#login_form input[type="radio"] {
		opacity: 0;	
		width:0;
}
#login_form label {
		display: inline-block;
		background-color: white;
		padding: 4px 11px;
		margin: 1%;
		font-family: 'Fredoka One', cursive;
		font-size: 16px;
		cursor: pointer;
		flex-basis: 39%;
}
#login_form input[type="radio"]:checked+label {
		transition: background-color 1.5s ease-out;
}
#login_form input[type="radio"]:checked+label#cliente_btn {
		background-color: #62c67b;
		color: white;
}
#login_form input[type="radio"]:checked+label#ristoratore_btn {
		background-color: #5182d6;
		color: white;
}

.piatto{
		font-family: 'Poiret One', cursive;
		display: flex;
		width: 80%;
		flex-direction: column;
		align-items: stretch;
}
.piatto_title_div{
		text-align: center;
		border-radius: 20px;
		/*border-radius: 20px 20px 0 0;*/
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 30px;
		font-family: 'Poiret One', cursive;
		cursor: pointer;
		margin-top: 2%;
}
.piatto_title_div:hover{
		background-color: #e8e8e8;
}
.piatto_info{
		display: none;
		justify-content: space-around;
		background-color: #cccccc;
		width: 90%;
		align-self: center;
		padding: 2%;
}
.piatto_footer{
		display: none;
		justify-content: flex-end;
		border-radius: 0 0 20px 20px;
		box-shadow: 2px 2px 3px #cccccc;
		border: solid 1px #e8e8e8;
		padding: 5px;
		margin-bottom: 2%;
}
.piatto_ingredienti{
		background-color: white;
		width: 20%;
		padding: 2% 5% 5%;
}
.ingredienti_title{
		margin: 0 0 2% -40%;
    padding: 2% 10%;
		background-color: red;
		color: white;
		align-self: flex-start;
}
.piatto_lista_ingredienti{}
.piatto_price{
		font-size: 3em;
}
.piatto_type{
		font-size: 1.5em;
		background-color: #F9EE5E;
		align-self: flex-end;
		padding: 0 8px 0 8px;
		border-radius: 5px 5px 20px 5px;
}
.piatto_img{
	width: 20%;
}

#ristorante_info{
		margin: 2% 1%;
		font-family: 'Poiret One', cursive;
}
.rist_info_h1{
		margin-top: 2%;
}
.rist_info_value{}

#header_icons{
	display: flex;
	height: 100%;
	width: 20%;
	justify-content: flex-end;
}
.user_img{
	cursor: pointer;
	height: 90%;
}
.cart_img{
	cursor: pointer;
	height: 100%;
}
.search_img{
	cursor: pointer;
	height: 60%;
	padding: 2%;
}
.orders_img{
	cursor: pointer;
	height: 70%;
	margin-top:2%;
}

.float_menu{
		position: absolute;
		z-index: 3;	
		float: right;
		width: 30%;
		right: 30px;
		background-color: #ededed;
		border-radius: 5%;
}

.button{
	cursor: pointer;
}
.button:hover{
	filter: brightness(85%);
}

.addPiattoButton{
	background-color: #62c67b;
}

.float_window{
	position: absolute;
	top: 20%;
	right: 20%;
	left:20%;
	bottom: 20%;
	z-index: 2;
	background-color: aliceblue;
	padding: 5%;
}

.home_title{
	margin: 5%;
	font-family: 'Poiret One', cursive;
	color: #f56e6e;
}

.cart_piatto{
	border: solid;
}

.eta{
	color: #FF324A;
	font-size: 1.5em;
}

.buy_option{
	margin: 6px;
	border: solid;
}

.header_menu{
	z-index:3;
	position: absolute;
}

#piatti_types_list{}
.piatti_types_list_item{}

.order_item{
	border: solid;
}

.close_btn{
	float: right;
	position: absolute;
	right:-2%;
	top: -4%;
}


